
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CN,zh-HK,zh-MO" ml:lang="cn" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MT4 WebTrader / Axi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--FB tags-->
    <meta property="og:url" content="http://www.axi.com/cn/trading-platforms/mt4-webtrader">
    <meta property="og:type" content="article">
    <meta property="og:title" content="MT4 WebTrader / Axi">
    <meta property="og:description" content="">
    
    <!--Twitter tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="MT4 WebTrader / Axi">
    <meta name="twitter:description" content="">
    
    <meta name="google-site-verification" content="8AOQHlvscvZ-3gTAYemXebUXwxznaIMwGVKv2pylWHc">
    <meta name="msvalidate.01" content="B4E6D5B48D9FFC4A683E789A63C7E197">
    <link rel="dns-prefetch" href="https://media.axitrader.com/">

    <link rel="canonical" href="">


<link href="../../themes/axiweb/dist/css/bundle.app.min.css" rel="preload" as="style">
<link href="../../themes/axiweb/dist/css/bundle.app.min.css" rel="stylesheet">
    <link rel="preload" crossorigin="anonymous" href="https://www.axi.com/themes/axiweb/dist/fonts/CarosSoftMedium.woff2" as="font">
    <link rel="preload" crossorigin="anonymous" href="https://www.axi.com/themes/axiweb/dist/fonts/CarosSoftBold.woff2" as="font">
    <link rel="preload" crossorigin="anonymous" href="https://www.axi.com/themes/axiweb/dist/fonts/CarosSoftRegular.woff2" as="font">
    <link rel="dns-prefetch" href="https://static.zdassets.com/">
    <link rel="dns-prefetch" href="https://sp.analytics.yahoo.com/">
    <link rel="dns-prefetch" href="https://t.co/">
    <link rel="dns-prefetch" href="https://unpkg.com/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://static.ads-twitter.com/">
    <link rel="dns-prefetch" href="https://s.adroll.com/">
    <link rel="dns-prefetch" href="https://connect.facebook.net/">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">

    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://www.axi.com/themes/axiweb/dist/img/axi-favicon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.axi.com/themes/axiweb/dist/img/axi-favicon-152x152.png">
    <link rel="icon" href="https://www.axi.com/themes/axiweb/dist/img/axi-favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" href="https://www.axi.com/themes/axiweb/dist/img/axi-favicon-16x16.png">
    <link rel="icon" sizes="16x16" href="https://www.axi.com/themes/axiweb/dist/img/axi-favicon-16x16.png">
    
    <style>.async-hide { opacity: 0 !important; } </style>
    <script type="text/javascript">dataLayer=[{'siteCode':'cn','siteCulture':'zh-CN,zh-HK,zh-MO','siteLang': 'cn',
            'siteName': '中文','siteBrand': 'AxiTrader'}];var userIdCookie = document.cookie.replace(/(?:(?:^|.*;\s*)UserId\s*\=\s*([^;]*).*$)|^.*$/, "$1");if (userIdCookie){dataLayer.push({ 'userId': userIdCookie });}</script>
    <script>(function (a, s, y, n, c, h, i, d, e) { s.className += ' ' + y; h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') }; (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); })(window, document.documentElement, 'async-hide', 'dataLayer', 2500, { 'GTM-PXV3RSW': true });</script>
    <script data-cookieconsent="ignore">(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer','GTM-PXV3RSW');</script>

    
        <!-- hreflang -->
                            <link rel="alternate" href="https://www.axi.com/au/trading-platforms/mt4-webtrader" hreflang="en-au">
                            <link rel="alternate" href="https://www.axi.com/vn/trading-platforms/mt4-webtrader" hreflang="vi-VN">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-EG">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-BH">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-KW">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-OM">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-QA">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-SA">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-LY">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-SO">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-SD">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-EH">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-IQ">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-SY">
                            <link rel="alternate" href="https://www.axi.group/ae-ar/trading-platforms/mt4-webtrader" hreflang="ar-YE">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-KZ">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-BY">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-MD">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-RU">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-UA">
                            <link rel="alternate" href="https://www.axi.com/ru/trading-platforms/mt4-webtrader" hreflang="ru-KG">
                            <link rel="alternate" href="https://www.axi.group/ae-en/trading-platforms/mt4-webtrader" hreflang="en-AE">
                            <link rel="alternate" href="https://www.axi.com/pl/trading-platforms/mt4-webtrader" hreflang="pl-PL">
                            <link rel="alternate" href="https://www.axi.com/th/trading-platforms/mt4-webtrader" hreflang="th-TH">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-AR">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-BO">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-CL">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-CO">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-CR">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-EC">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-SV">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-GT">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-MX">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-NI">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-PA">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-PY">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-PE">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-PR">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-UY">
                            <link rel="alternate" href="../../es-mx/trading-platforms/mt4-webtrader.html" hreflang="es-VE">
                            <link rel="alternate" href="https://www.axi.com/pt/trading-platforms/mt4-webtrader" hreflang="pt">
                            <link rel="alternate" href="https://www.axi.com/cy/trading-platforms/mt4-webtrader" hreflang="en-CY">
                        <!--  Model.Name:MT4 WebTrader  page.id:28810   -->
                            <link rel="alternate" href="https://www.axi.com/es/trading-platforms/mt4-webtrader" hreflang="es-ES">
                            <link rel="alternate" href="https://www.axi.com/de/trading-platforms/mt4-webtrader" hreflang="de-AT">
                            <link rel="alternate" href="https://www.axi.com/de/trading-platforms/mt4-webtrader" hreflang="de-DE">
                            <link rel="alternate" href="https://www.axi.com/de/trading-platforms/mt4-webtrader" hreflang="de-LI">
                            <link rel="alternate" href="https://www.axi.com/de/trading-platforms/mt4-webtrader" hreflang="de-CH">
                            <link rel="alternate" href="https://www.axi-indo.com/id/trading-platforms/mt4-webtrader" hreflang="id">
                            <link rel="alternate" href="https://www.axi.com/it/trading-platforms/mt4-webtrader" hreflang="it">
                            <link rel="alternate" href="../../int/trading-platforms/mt4-webtrader.html" hreflang="x-default">
                            <link rel="alternate" href="../../int/trading-platforms/mt4-webtrader.html" hreflang="en">
                            <link rel="alternate" href="../../int/trading-platforms/mt4-webtrader.html" hreflang="en-CF">
                            <link rel="alternate" href="../../int/trading-platforms/mt4-webtrader.html" hreflang="en-GW">
                            <link rel="alternate" href="../../int/trading-platforms/mt4-webtrader.html" hreflang="en-SG">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-CY">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-BE">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-BG">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-HR">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-CZ">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-DK">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-EE">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-FI">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-FR">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-GR">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-HU">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-IS">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-IE">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-LV">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-LT">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-LU">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-MT">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-NL">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-NO">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-PT">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-RO">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-SK">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-SI">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-SE">
                            <link rel="alternate" href="https://www.axi.com/uk/trading-platforms/mt4-webtrader" hreflang="en-GB">
                            <link rel="alternate" href="" hreflang="zh-CN">
                            <link rel="alternate" href="" hreflang="zh-HK">
                            <link rel="alternate" href="" hreflang="zh-MO">
                            <link rel="alternate" href="https://www.axi.com/tw/trading-platforms/mt4-webtrader" hreflang="zh-tw">


    <script>var AXI = { site: '/cn' };</script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <noscript><iframe src="javascript:;" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://www.google.com/chrome/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    

<!--Navbar-->
<!--Mega Menu-->
<section class="megamenu__container">
    <!--Top Panel-->
    <section class="toppanel__container">
        <div class="container">
            <!--Top Panel Left Panel-->
            <div class="toppanel__container--left">
                <ul class="toppanel__leftnavigation">
                    <li>



            <a href="../../cn.html" class="fadeInUp">Personal</a>
                    </li>
                    <li>



            <a href="javascript:;" target="_blank" class="fadeInUp">Institutional</a>
                    </li>
                </ul>
            </div>
            <!--Top Panel Right Panel-->
            <div class="toppanel__container--right">

                

<nav class="navbar navbar-expand-lg countryselectionarea">
                <div class="collapse navbar-collapse" id="navbars">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle f32" href="javascript:void(0)" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="flag cn flagtop"></span><span class="d-lg-none d-xl-none">中文</span>
                            </a>
                            <div class="dropdown-menu countryflags f32" aria-labelledby="dropdown">
                                <ul>
                                        <li value="ae-ar">
                                            <a href="../../ae-ar.html">
                                                <span class="flag ae"></span><span>العربية</span>
                                            </a>
                                        </li>
                                        <li selected="true" value="cn">
                                            <a href="../../cn.html">
                                                <span class="flag cn"></span><span>中文</span>
                                            </a>
                                        </li>
                                        <li value="es-mx">
                                            <a href="../../es-mx.html">
                                                <span class="flag mx"></span><span>Espa&#241;ol internacional</span>
                                            </a>
                                        </li>
                                        <li value="id">
                                            <a href="../../id.html">
                                                <span class="flag id"></span><span>Bahasa Indonesia </span>
                                            </a>
                                        </li>
                                        <li value="int">
                                            <a href="../../int.html">
                                                <span class="flag int"></span><span>English International</span>
                                            </a>
                                        </li>
                                        <li value="ru">
                                            <a href="../../ru.html">
                                                <span class="flag ru"></span><span>Русский</span>
                                            </a>
                                        </li>
                                        <li value="th">
                                            <a href="../../th.html">
                                                <span class="flag th"></span><span>ภาษาไทย</span>
                                            </a>
                                        </li>
                                        <li value="tw">
                                            <a href="../../tw.html">
                                                <span class="flag tw"></span><span>中文繁體</span>
                                            </a>
                                        </li>
                                        <li value="vn">
                                            <a href="../../vn.html">
                                                <span class="flag vn"></span><span>Tiếng Việt</span>
                                            </a>
                                        </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>

            </nav>




                <nav class="navbar navbar-expand-lg clientloginarea">
                    <div class="collapse navbar-collapse" id="navbars">
                        <ul class="navbar-nav">
                            <li class="dropdown">

                                <a class="dropdown-toggle client-login-link" href="../../index.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="d-none d-lg-block linkhrefopen"><i></i></span>
                                    <span class="d-lg-none d-xl-none linkhrefopen">
                                        客户登录
                                    </span><span class="d-lg-none d-xl-none">
                                        <img src="../../themes/axiweb/src/img/client-login.svg" alt="">
                                    </span>
                                </a>
                                    <div class="dropdown-menu clientlogin" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href='../add-funds.html'>入金</a></li>
                                                <li><a href='../withdraw-funds.html'>出金</a></li>
                                                <li><a href='../reset-mt4-password.html'>重置 MT4 密码</a></li>
                                                <li><a href='../../download-platform.html' target="_blank">下载 MT4</a></li>
                                        </ul>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg topsearcharea">
                    <div class="collapse navbar-collapse" id="navbars">
                        <ul class="navbar-nav">
                            <li class="formsearch">
                                <form id="topSearchForm" name="topSearchForm" action="/cn/search-results" method="get">
                                    <input type="text" name="search" id="searchQuery" aria-label="Search" placeholder="Search..">
                                    <img onclick="$('#topSearchForm').submit();" src="../../themes/axiweb/src/img/icons/icon-search.svg" alt="Search">
                                </form>
                            </li>
                        </ul>
                    </div>

                </nav>


            </div>
        </div>
    </section>
    <!--Main Menu-->
    <section class="mainmenu__container">
        <nav class="navbar navbar-default navbar-expand-lg">
            <div class="container">
                <!--Top Logo-->
                <a class="navbar-brand" href="../../"><img src="../../rebrand-prod/hqwjus4e/logo-light1.svg" alt="axi"></a>


                    <!--Btn Visible - Mobile / Tablet -->
                    <a class="btn btn-primary mr20 d-lg-none d-xl-none" href="../live-account.html">开户口</a>

                <!-- Hamburger Menu -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--Tab links for Mobile / Tablet -->

                <div class="collapse navbar-collapse topnav" id="navbars">
                    <div class="tablinkmenu__container d-lg-none d-xl-none">
                        <ul class="tablinkmenu__container--links">
                            <li>



            <a href="../../cn.html" class="fadeInUp">Personal</a>
                            </li>
                            <li>



            <a href="javascript:;" target="_blank" class="fadeInUp">Institutional</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="../our-edge.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            我们的优势
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="../our-edge/trade-with-trust.html"> 信任交易</a></li>
                                                <li><a href="../our-edge/funding-talented-traders.html">资助有才华的商人</a></li>
                                                <li><a href="../our-edge/best-pricing-execution.html">最佳定价和执行</a></li>
                                                <li><a href="../trading-tools.html">先进的交易工具</a></li>
                                        </ul>
                                        <ul>
                                                <li><a href="../../cn.html">Axi Community</a></li>
                                                <li><a href="../add-funds.html">快速安全的付款</a></li>
                                                <li><a href="../trading-accounts.html">交易账户类型</a></li>
                                                <li><a href="../our-edge/award-winning-service.html">获奖服务</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="../markets-to-trade.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            交易市场
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="../markets-to-trade/forex-trading.html">货币</a></li>
                                                <li><a href="../markets-to-trade/indices-trading.html">指数交易</a></li>
                                                <li><a href="../markets-to-trade/commodities-trading.html">商品交易</a></li>
                                        </ul>
                                        <ul>
                                                <li><a href="../markets-to-trade/commodities-trading/gold-silver-trading.html">黄金白银</a></li>
                                                <li><a href="../markets-to-trade/bitcoin-cfd-trading.html"> 加密货币差价合约</a></li>
                                                <li><a href="../markets-to-trade/live-spreads.html">实时点差</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="../trading-platforms.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            交易平台
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="mt4-for-pc-mac-mobile.html">MT4</a></li>
                                                <li><a target="_blank" href="">MT4 WebTrader</a></li>
                                                <li><a target="_blank" href="../trading-resources.html">交易资源</a></li>
                                        </ul>
                                        <ul>
                                                <li><a target="_blank" href="../../cn.html">MyFXBook</a></li>
                                                <li><a href="../../cn.html">Zulutrade</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="../learn-to-trade.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            学习交易
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="../learn-to-trade/forex-basics.html">Forex Basics</a></li>
                                                <li><a href="../learn-to-trade/cfd-trading-basics.html">CFD Trading Basics</a></li>
                                                <li><a target="" href="#">入门</a></li>
                                                <li><a href="../learn-to-trade/forex-video-tutorials.html">影片教学</a></li>
                                                <li><a target="" href="#">研讨会和网络研讨会</a></li>
                                        </ul>
                                        <ul>
                                                <li><a target="" href="#">免费电子书</a></li>
                                                <li><a target="" href="#">市场博客</a></li>
                                                <li><a href="../demo.html">免费模拟账户</a></li>
                                                <li><a href="../psyquation.html">PsyQuation</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="../partnerships.html" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            合作伙伴
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="mt4-for-pc-mac-mobile.html">MT4</a></li>
                                                <li><a target="_blank" href="">MT4 WebTrader</a></li>
                                                <li><a href="../../cn.html">Zulutrade</a></li>
                                        </ul>
                                        <ul>
                                                <li><a href="../partnerships/white-labelling.html">白色标签</a></li>
                                                <li><a href="../partnerships/api-trading.html">API交易</a></li>
                                                <li><a href="../partnerships/mt4-multi-account-manager.html">MT4多客户经理</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="linkhrefopen">
                                            公司
                                        </span>
                                    </a>
                                    <!--Second level Menu -->
                                    <div class="dropdown-menu" aria-labelledby="dropdown">
                                        <ul>
                                                <li><a href="../company/about-us.html">关于阿西</a></li>
                                                <li><a href="../company/sponsorship.html">赞助商</a></li>
                                                <li><a href="../company/investor-relations.html">投资者关系</a></li>
                                        </ul>
                                        <ul>
                                                <li><a target="_blank" href="javascript:;">招贤纳士</a></li>
                                                <li><a href="../company/corporate-social-responsibility.html">企业社会责任</a></li>
                                        </ul>
                                    </div>
                                    <!--/Second level Menu -->
                                </li>
                    </ul>
                </div>
                    <!--Button display - Desktop and large screens only -->
                    <a class="btn btn-primary mr20 d-none d-lg-block" href="../live-account.html">开户口</a>
            </div>
        </nav>
    </section>
</section>
<!--/Navbar-->

    



            <!-- blockScript -->

<div class="first-section">
<iframe width="100%" height="900" src="javascript:;" allowfullscreen="allowfullscreen"></iframe>
</div>            <!-- /blockScript -->



    
<!-- Footer -->
<footer>
    <div class="container">
        <div class='footerlinks__container'>
            <div class="footerlinks__container--col">
                <img class="logo-footer" src="../../rebrand-prod/onla2r0j/logo-red2.svg" alt="AxiCorp">
                <h6><a href="#">Personal</a></h6>
                <h6><a href="#">Institutional</a></h6>
            </div>
                    <div class="footerlinks__container--col">
                        <h6>账户</h6>
                        <ul>
                                    <li><a href="../add-funds.html"> 入金</a></li>
                                    <li><a href="../reset-mt4-password.html" target=""> 重置密码</a></li>
                                    <li><a href="../live-account.html"> 开立账户</a></li>
                                    <li><a href="../demo.html"> 体验模拟账户</a></li>
                        </ul>
                    </div>
                    <div class="footerlinks__container--col">
                        <h6>教育</h6>
                        <ul>
                                    <li><a href="../learn-to-trade/education-centre.html"> 在线课程</a></li>
                                    <li><a href="../learn-to-trade/forex-video-tutorials.html"> 外汇视频教程</a></li>
                                    <li><a href="../learn-to-trade/forex-basics.html"> 外汇基础</a></li>
                                    <li><a href="../learn-to-trade/cfd-trading-basics.html"> 差价合约交易基础</a></li>
                        </ul>
                    </div>
                    <div class="footerlinks__container--col">
                        <h6>法律文件</h6>
                        <ul>
                                    <li><a href="javascript:;" target="_blank"> 金融服务指南（FSG）</a></li>
                                    <li><a href="javascript:;" target="_blank"> 产品披露声明 (PDS)</a></li>
                                    <li><a href="javascript:;" target="_blank"> 产品表格</a></li>
                                    <li><a href="javascript:;" target="_blank"> 客户协议</a></li>
                                    <li><a href="../legal-documentation/complaints-handling.html"> 投诉处理</a></li>
                                    <li><a href="../legal-documentation/privacy-policy.html"> 隐私政策</a></li>
                                    <li><a href="../legal-documentation/website-terms-conditions.html"> 网站条款和条件</a></li>
                        </ul>
                    </div>
            <div class="footerlinks__container--col">
                        <h6>联系我们</h6>
                        <ul class='contact__list'>
                            <li>
                                <div><i class="icon-phone"></i></div>
                                <div>
                                        <a href="tel:+1300888936" alt="tel:1300888936">澳洲: 1300 888 936</a>
                                        <a href="tel:+61299655830" alt="tel:+61299655830">国际: +61 2 9965 5830</a>
                                        <a href="tel:+442035449646" alt="tel:+442035449646">英国: +44 203 544 9646</a>
                                </div>
                            </li>
                                <li>
                                    <a href="../contact-us.html" alt="Contact Us">
                                        <div><i class="icon-phone"></i></div>
                                        <div>联系我们</div>
                                    </a>
                                </li>
                        </ul>
                
                    <div class="trust-pilot">
                        <div id="trustpilot-footer-widget" style="height: 25px;">
                            <div>
                                <div align="left" class="trustpilot-widget" data-locale="en-US" data-template-id="5419b757fa0340045cd0c938" data-businessunit-id="55aca12f0000ff00058130ac" data-style-height="25px" data-style-width="100%">
                                    <a href="javascript:;" target="_blank" rel="noopener">Trustpilot</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <ul class="socialmedia__container">


                </ul>
            </div>

        </div>
        <div class='footer__disclaimer'>
            <p>Axi是AxiTrader Limited (AxiTrader)的牌名称， 在圣文森特和格林纳丁斯注册，国际商业企业注册处的编号是25417 BC 2019，并且在金融服务管理局注册，地址是Suite 305, Griffith Corporate Centre, PO Box 1510, Beachmont Kingstown, St Vincent and the Grenadines。</p>
<p>AxiTrader由AxiCorp Financial Services Pty Ltd全资所有，后者是一家在澳大利亚注册的公司（ACN 127 606 348）。场外衍生产品是复杂的工具，由于杠杆的作用，具有亏损大幅超过初始投资的较高风险。您应当考虑是否理解场外衍生工具的运行机制，以及您是否能够承受资本面临的高风险。投资场外衍生产品涉及重大风险，未必适合所有投资者。</p>
<p>当购得我们的衍生产品时，您并不会享有标的金融资产的资格、权利或义务。AxiTrader并不是金融顾问，所有服务以仅执行为基础提供。信息仅为一般性质，并没有考虑您的财务目标、需求或个人特定环境。有关我们产品和服务的重要法律文件在<a href="../legal-documentation.html" title="legal-documentation">我们的网站提供</a>。在申请任何AxiTrader的产品或服务之前，您应当阅读并理解这些文件，并且在必要时获得独立的专业建议。</p>
<p>AxiTrader Limited是<a rel="noopener" href="javascript:;" target="_blank">金融委员会的成员</a>，这是一家国际组织，负责外汇市场金融服务业的<a href="../legal-documentation/account-security.html" title="Account Security">争议裁决</a>。</p>
<p>本网站上的信息不供澳大利亚和新西兰居民使用。</p>
        </div>
    </div>
</footer>
    
<span id="live-price-hub-template"></span>

<script type="x-template" id="live-price-widget-template">
        <!--container-->
        <div class='livespreadswidgettabs'>
            <!-- Tabs-->
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" v-for="(item, index) in tabs" :key="index">
                    <a v-bind:class="{ active: currentTabIndex == index }"
                       class="nav-link" v-bind:id="'pills-' + index + '-tab'" data-toggle="pill" v-bind:href="'#widget-tab-' + index"
                       role="tab" v-bind:aria-controls="'widget-tab-'+ index" aria-selected="true">{{ item.title }}</a>
                </li>
            </ul>
            <!-- Tab Content -->
            <div class="tab-content" id="pills-tabContent">
                <live-price-tab v-for="(item, index) in tabs"
                                :key="index"
                                v-bind:title="item.title"
                                v-bind:quotes="item.quotes"
                                v-bind:index="index"
                                v-bind:currentTabIndex="currentTabIndex"
                                v-bind:maxTabIndex="maxTabIndex"></live-price-tab>
            </div>
        </div>
</script>

<script type="x-template" id="live-price-tab">
    <div v-bind:class="{ active: currentTabIndex == index }"
         class="tab-pane fade show" v-bind:id="'widget-tab-' + index" role="tabpanel"
         v-bind:aria-labelledby="'pills-' + index + '-tab'">
        <table class="tabs-content__content">
            <thead>
                <tr>
                    <th>Instrument</th>
                    <th>Bid</th>
                    <th>Ask</th>
                    <th>Std</th>
                    <th>Pro</th>
                </tr>
            </thead>
            <tbody>
                <live-price-quote v-for="quote in quotes" :key="quote" v-bind:pair="quote"></live-price-quote>
            </tbody>
        </table>
    </div>
</script>

<script type="x-template" id="live-spread-table">
    <div class="axilivespreadwidget">
        <table class="axilivespreadwidget hidden-mobile">
            <colgroup>
                <col class="symbol" />
                <col class="widespread" v-for="col in quotes" />
            </colgroup>
            <thead>
                <tr>
                    <th class="symbol"></th>
                    <th class="symbol_label" v-for="col in quotes">
                        <ul class="f16 clearfix">
                            <li class="flag" :class="col.substr(0,3).toLowerCase()"></li>
                            <li class="flag" :class="col.substr(3).toLowerCase()"></li>
                        </ul>
                        <br />
                        <span>{{ col }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="pro">
                    <td class="spread_label">Pro</td>
                    <td v-for="quote in quotes" class="spread">
                        <live-spread-quote v-bind:pair="quote" :ispro="true"></live-spread-quote>
                    </td>
                </tr>
                <tr class="standard">
                    <td class="spread_label">Std</td>
                    <td v-for="quote in quotes" class="spread">
                        <live-spread-quote v-bind:pair="quote"></live-spread-quote>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="axilivespreadwidget-mobile visible-mobile">
            <div v-for="quote in quotes">
                <div>
                    <span class="currency">{{ quote }}</span>
                    <ul class="f16 clearfix">
                        <li class="flag" :class="quote.substr(0,3).toLowerCase()"></li>
                        <li class="flag" :class="quote.substr(3).toLowerCase()"></li>
                    </ul>
                </div>
                <div class="pro">
                    <label>Pro</label>
                    <live-spread-quote v-bind:pair="quote" :ispro="true" class="rate"></live-spread-quote>
                </div>
                <div class="std">
                    <label>Std</label>
                    <live-spread-quote v-bind:pair="quote" class="rate"></live-spread-quote>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="x-template" id="live-price-quote">
    <tr v-if="quote">
        <td class="symbol">{{ pair }}</td>
        <td class="price" v-highlight="bid">{{ bid }}</td>
        <td class="price" v-highlight="ask">{{ ask }}</td>
        <td class="spread" v-highlight="std">{{ std }}</td>
        <td class="spread" v-highlight="pro">{{ pro }}</td>
    </tr>
</script>

<script type="x-template" id="live-spread-quote">
    <div v-if="quote">
        <span v-if="ispro">{{ pro }}</span>
        <span v-if="!ispro">{{ std }}</span>
    </div>
</script>
    <script type="x-template" id="live-form-template">
    <form v-cloak @submit.prevent="validateBeforeSubmit" :class="{ 'short-form': shortForm || hideMiddleName }">
        <div v-if="loading">loading form...</div>
        <div v-else>
            <h2 :class="{ 'has-referrer': referrer != '' }">{{label.heading}}</h2>
            <fb-signin-button v-if="displayFacebookPrefill" :params="fbSignInParams"
                              @success="onSignInSuccess"
                              @error="onSignInError">
                <div>
                    <div class="fb-icon"><i class="icon-facebook02"></i></div>
                    <div class="fb-text">Prefill with Facebook</div>
                </div>
            </fb-signin-button>
            <div class="referrer" v-if="referrer">Referral ID {{ referrer }}</div>
            <span v-if="error" class="error-msg-wrap" style="display: block;"><i class="icon-cross"></i><span class="error-msg">{{error}}</span></span>

            <div class="field-container">
                <div class="reversible-container" v-bind:class="reverseContainerClass">
                    <div class="field-item">
                        <div class="first-name">
                            <label class="field-label" v-tooltip="setTooltip(tooltip.firstName)">
                                {{ label.firstName }}
                                <i class="tt icon-questionmark02" v-if="tooltip.firstName"></i>
                            </label>
                            <input type="text" id="firstName" name="firstName" :placeholder="placeholder.firstName" v-model="form.firstName" v-validate="{ required: true, regex: nameEncodingRegex }" data-vv-delay="500" class="text text-capitalize" :class="{ 'has-error': errors.has('firstName'), 'no-margin': (label.middleName || label.LastName) }" />
                            <span class="error" v-show="errors.has('firstName')">{{ errors.first('firstName') }}</span>
                        </div>
                    </div>

                    

                    <div class="field-item" v-if="!shortForm && !hideMiddleName">
                        <div class="middle-name">
                            <label class="field-label">
                                {{label.middleName}}
                            </label>
                            <input type="text" id="middleName" name="middleName" :placeholder="placeholder.middleName" v-model="form.middleName" v-validate="{regex: nameEncodingRegex }" data-vv-delay="500" class="text text-capitalize" :class="{ 'has-error': errors.has('middleName'), 'no-margin': label.lastName }" />
                            <span class="error" v-show="errors.has('middleName')">{{ errors.first('middleName') }}</span>
                        </div>

                    </div>
                    <div class="field-item">
                        <div style="clear: both;">
                            <label class="field-label" v-if="label.lastName" v-tooltip="setTooltip(tooltip.lastName)">
                                {{label.lastName}}
                                <i class="tt icon-questionmark02" v-if="tooltip.lastName"></i>
                            </label>
                            <input type="text" id="lastName" name="lastName" :placeholder="placeholder.lastName" v-model="form.lastName" v-validate="{ required: true, regex: nameEncodingRegex }" data-vv-delay="500" class="last-name text text-capitalize" :class="{ 'has-error': errors.has('lastName') }" />
                            <span class="error" v-show="errors.has('lastName')">{{ errors.first('lastName') }}</span>
                        </div>
                    </div>
                </div>

                <div class="field-item">
                    <label class="field-label" v-tooltip="setTooltip(tooltip.country)">{{label.country}} <i class="tt icon-questionmark02" v-if="tooltip.country"></i></label>
                        <select id="countryCode" name="countryCode" v-model="form.countryCode" v-validate="'required'"
                                data-vv-delay="500">
                            <option v-for="option in countries" v-bind:value="option.value">
                                {{option.text}}
                            </option>
                        </select>
                    <span class="error" v-show="errors.has('countryCode')">{{ errors.first('countryCode') }}</span>
                </div>

                <div class="field-item">
                    <div class="input-group phone-group">
                        <div class="input-group-btn">
                            <div class="select-wrap">
                                
                                <div class="d-inline m-right-field">
                                    <label class="field-label" v-tooltip="setTooltip(tooltip.code)">{{label.code}}&nbsp;<i class="tt icon-questionmark02" v-if="tooltip.code"></i></label>
                                    <select class="code" v-model="form.code">
                                        <option v-for="option in orderedCodes" v-bind:value="option.meta">
                                            {{ option.meta }}
                                        </option>
                                    </select>
                                </div>
                                <div class="d-inline w-100">
                                    <label class="field-label" v-tooltip="setTooltip(tooltip.phone)">{{label.phone}} <i class="tt icon-questionmark02" v-if="tooltip.phone"></i></label>
                                    <input id="phone" name="phone" v-model="form.phone" class="form-control text" maxlength="40" type="text"
                                       :class="{'has-error': errors.has('phone')}" data-vv-validate-on="blur" v-validate="{ required: true, regex: /([{1,}[0-9]{7,39})$/ }" data-vv-delay="500" :placeholder="placeholder.phone" />
                                    <span class="error" v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field-item">
                    <label class="field-label">{{label.email}}</label>
                    <input type="email" id="email" name="email" :placeholder="placeholder.email" v-model="form.email" data-vv-validate-on="blur" v-validate="{ required: true, regex: emailRegex }"
                           data-vv-delay="500" class="required text email" :class="{'has-error': errors.has('email')}" />
                    <span class="error" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>

                <div class="field-item" v-if="!shortForm">
                    <label class="field-label" v-tooltip="setTooltip(tooltip.applicationType)">{{label.applicationType}} <i class="tt icon-questionmark02" v-if="tooltip.applicationType"></i></label>
                    <div class="select-wrap">
                        <select id="applicationType" name="applicationType" v-model="form.applicationType" v-validate="'required'"
                                data-vv-delay="500">
                            <option v-for="option in applicationTypeOptions" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <span class="error" v-show="errors.has('applicationType')">{{ errors.first('applicationType') }}</span>
                </div>
                <div class="field-item row-span-2" v-if="formType == 'Enquiry'" >
                    <div class="comments">
                        <label class="field-label">
                            {{ label.comments }}
                        </label>
                        <textarea id="comments" name="comments" :placeholder="placeholder.comments" v-model="form.comments" v-validate="{ regex: /(^[0-9A-Za-z \-./\u4e00-\u9fff\u00C0-\u00ff]{1,1024})$/ }" data-vv-delay="500" class="medium-textarea" :class="{ 'has-error': errors.has('comments') }" />
                        <span class="error" v-show="errors.has('comments')">{{ errors.first('comments') }}</span>
                    </div>
                </div>

                <div class="field-item">

                    <div v-if="displayMarketingConsent" class="checkbox-row padded-row">
                        <input type="checkbox" class="cta-checkbox checkbox" v-model="form.marketingConsent" id="formMarketingConsent" />
                        <label for="formMarketingConsent" v-html="label.marketingConsent"></label>
                    </div>

                    <div v-if="displayDataCollectionConsent" class="checkbox-row padded-row">
                        <input type="checkbox" class="cta-checkbox checkbox" v-model="form.dataCollectionConsent" name="dataCollection" v-validate="{ required: true, regex: /true/ }" />
                        <label for="formDataCollectionConsent" v-html="label.dataCollectionConsent"></label>
                    </div>
                    <div v-show="errors.has('dataCollection')">
                        <span class="error no-top" v-show="errors.has('dataCollection')">{{ errors.first('dataCollection') }}</span>
                    </div>

                    <div v-if="setting.subscribe" class="checkbox-row padded-row">
                        <input type="checkbox" class="cta-checkbox checkbox" v-model="form.subscribe" id="formSubscribe" />
                        <label for="formSubscribe">{{label.subscribe}}</label>
                    </div>
                    <div v-else class="field-item inp-encrypt padded-row">
                        <i class="icon-lock"></i>
                        <label>{{label.encryption}}</label>
                    </div>

                </div>

                <div class="field-row">
                    <div class="action-row">
                        <button class="button black" v-bind:style="{ background: submitButtonColour }" :disabled="submitting" data-aos="fade">{{submitText}}</button>
                    </div>
                    <div class="field-item captcha-field" v-if="displayRecaptcha">
                        <vue-recaptcha ref="invisibleRecaptcha"
                                       @verify="onCaptchaVerified"
                                       @expired="onCaptchaExpired"
                                       size="invisible"
                                       badge="inline"
                                       :sitekey="recaptchaSiteKey"
                                       class="badge-container">
                        </vue-recaptcha>
                    </div>
                </div>

                <div class="field-item" v-if="setting.subscribe && !shortForm">
                    <div class="inp-encrypt-full">
                        <div>
                            <i class="icon-lock"></i>
                            {{label.encryption}}
                        </div>
                    </div>
                    <div v-if="label.footer" class="inp-footertext">{{label.footer}}</div>
                </div>

            </div>

        </div>

    </form>

</script>
    
<div id="notification" v-cloak="">
    <div class="notification top">
        <section class="notification-item" v-for="item in header" v-bind:style="{ backgroundColor: '#' + item.backgroundColour, color: '#' + item.textColour }" v-bind:class="{ 'dismissable': item.dismissable }" v-on:click="onClick(item, $event)" v-if="isVisible(item)">
            <div v-html="item.message"></div>
        </section>
    </div>

    <div class="notification bottom">
        <section class="notification-item" v-for="item in footer" v-bind:style="{ backgroundColor: '#' + item.backgroundColour, color: '#' + item.textColour }" v-bind:class="{ 'dismissable': item.dismissable }" v-on:click="onClick(item, $event)" v-if="isVisible(item)">
            <div v-html="item.message"></div>
        </section>
    </div>
</div>

<script>
    AXI = AXI || {};
    AXI.deferred = AXI.deferred || [];
    AXI.deferred.push(function () {
        new Vue({
            el: '#notification',
            data: function () {
                return {
                    site: '/cn',
                    notifications: []
                }
            },
            created: function () {
                var self = this

                $.ajax({
                    url: `/umbraco/api/notification/get?siteUrl=${self.site}`,
                    type: 'get',
                    error: function (e) {

                    },
                    success: function (data) {
                        self.notifications = data
                    }
                })
            },
            updated: function () {
                adjustForNotifications()
            },
            computed: {
                header: function () {
                    var self = this

                    return self.notifications.filter(function (item) {
                        return item.type === "header"
                    })
                },
                footer: function () {
                    var self = this

                    return self.notifications.filter(function (item) {
                        return item.type === "footer"
                    })
                }
            },
            methods: {
                onClick: function (item, event) {
                    if (item.dismissable == true) {
                        if (event.target.tagName === "SECTION") {
                            setCookie(`xe${item.type}${item.id}`, true, 1)
                            item.visible = false
                        }
                    }
                },
                isVisible: function (item) {
                    var cookie = getCookie(`xe${item.type}${item.id}`);
                    //console.log(`cookie for ${item.id}: ${cookie}`);
                    return cookie == null && item.visible == true
                }
            }
        })
    });
</script>
    
    
    <script src="../../bundles/vendor.js"></script>

    <script src="../../bundles/app.js"></script>

    <script src="../../bundles/vue.js"></script>


    <script src="../../bundles/cookieconsent.js" data-cookieconsent="ignore"></script>


    

        <div id="comm100-button-3965" class="chat-container"></div>


    <script type="text/javascript" src="../../bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script>
<script type="text/javascript">
    $(function () {
        AOS.init({
            delay: 150, // values from 0 to 3000, with step 50ms
            once: true, // whether animation should happen only once - while scrolling down
            //easing: 'ease', // default easing for AOS animations
            easing: 'ease-in-out-cubic'
        });
    });
</script>
    <script data-cookieconsent="ignore" type="text/javascript">
        $(function () { if (AXI = AXI || {}, AXI.deferred) for (var e = 0; e < AXI.deferred.length; e++)AXI.deferred[e]() });
    </script>
</body>
</html>
<!-- Generated at - 2021/5/9 16:00:36 (utc: 2021/5/9 16:00:36 ) - EC2AMAZ-M83C814 -->
<!-- rebrand-prelive -->
